# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
config.json
.vscode/**
.idea/**
.sass-cache/**
.tmp/**
.versions/**
__pycache__/**
venv/**
sqlini.json
config.json
**/config.json
tmp/**
